body {
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Hero Section */
#hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url("image.jpg.jpeg") center/cover no-repeat;
  position: relative;
}

/* Navbar link hover */
.nav-link:hover {
  color: #00bcd4 !important;
}

/* Portfolio cards */
.card img {
  height: 200px;
  object-fit: cover;
}